<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <nav class='flexer'>
        <a href='<%= root_path %>' class='nav-link'>
          <svg xmlns="http://www.w3.org/2000/svg" class='back-arrow' fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
          </svg>
        </a>
        <h2 class='banner'>REGISTER</h2>
  
        <div class="actions">
          <%= f.submit "Sign Up", class: 'login-btn' %>
        </div>
      </nav>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="divider"></div>

  <div class="field-wrapper">
    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input-field", placeholder: "Name" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field", placeholder: "Email" %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
        <em class="password-info">(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "input-field" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: "input-field" %>
    </div>
  </div>

<% end %>


  </div>
