<nav class='flexer'>

      <h2 class='banner'>Categories</h2>
      <div>
<%= button_to 'Logout', destroy_user_session_path, method: :delete,class: 'login-btn' %>
      </div>
</nav>

<div class='hero'>
<p class = "welcome-note">Hello <%= @currentuser %>!<br>Below are your categories!</p>
</div>

<div class='overall-container'>
<% if @groups.empty? %>
  <p>No categories available. Add new categories</p>
<% else %>

<% @groups.each do |group| %>
    <div class="category-card">
      <%= link_to group_payments_entities_path(group),class:'a-tag blacker' do %>
        <div class="category-content flexer">
        <% if group.icon.attached? %>
          <%= image_tag group.icon, class: 'category-icon' %>
        <% else %>
          <%= image_tag 'placeholder-icon.png', alt: 'Placeholder Icon', class: 'category-icon' %>
        <% end %>

          <div class="category-details flexer">
            <h4 class="category-name"><%= group.name %></h4>
            <p class="category-amount">$<%= @total[group] %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

</div>


<div class='bottom-button sign-links'>
  <%= link_to 'ADD NEW CATEGORY', new_group_path, class: 'new-cart a-tag' %>
</div>
