<div id="<%= dom_id payments_entity %>">
  <p>
    <strong>Author:</strong>
    <%= payments_entity.author_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= payments_entity.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payments_entity.amount %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= payments_entity.created_at %>
  </p>

</div>
